body {
  /* background-color: #f16f6f; */
}

.delete-form {
  display: inline;
}

#map {
  height: 400px;
  width: 100%;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.stars {
	color: #EEBD01;
}

.btn-moreinfo {
	margin-top: 10px;
}
.card {
	margin-bottom: 20px;
}
